@import '@/assets/css/variables.scss';

.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 24px;
}

.modal-content {
  position: relative;
  background: white;
  border-radius: 16px;
  padding: 24px;
  min-width: 260px;
  width: fit-content;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
  color: $color-icon-4;
}
