@use './pages/home';
@use './components/base-modal';
@import 'variables';

// Mobile
body {
  font-family: 'Inter', 'Arial', sans-serif;
  letter-spacing: 0;
  color: $color-text-1;
  margin: 0;
  padding: 0;
}

body, .b2-m {
  font-size: 14px;
  line-height: 120%;
  font-weight: 500;
}

.b2-r {
  font-size: 14px;
  line-height: 120%;
  font-weight: 400;
}

.b2-s {
  font-size: 14px;
  line-height: 120%;
  font-weight: 600;
}

.c2-r {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.06px;
  font-weight: 400;
}

h4, .h4-s {
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.4px;
  font-weight: 600;
  margin: 0;
}

.color-accent-primary {
  color: $color-accent-primary;
}

.color-accent-secondary {
  color: $color-accent-secondary;
}

.color-text-1 {
  color: $color-text-1;
}

.color-text-2 {
  color: $color-text-2;
}

.color-text-3 {
  color: $color-text-3;
}

.color-text-error {
  color: $color-text-error;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

// Tablet
@media screen and (min-width: $breakpoint-tablet) {
  body, .b2-m, .b2-r, .b2-s {
    font-size: 15px;
    line-height: 130%;
  }

  h4, .h4-s {
    font-size: 22px;
    line-height: 120%;
  }
}

// Desktop
@media screen and (min-width: $breakpoint-desktop) {
  body, .b2-m, .b2-r, .b2-s {
    font-size: 16px;
    line-height: 140%;
  }

  h4, .h4-s {
    font-size: 24px;
    line-height: 120%;
  }
}
