// Colors
$color-accent-primary: #107FD1;
$color-accent-secondary: #05263F;
$color-text-1: #1C1C1E;
$color-text-2: #77777C;
$color-text-3: #ADAEB2;
$color-text-4: #797979;
$color-text-error: #FF3B30;
$color-surface-2: #F2F1F6;
$color-surface-3: #F5F5F5;
$color-icon-4: #DFDEE3;
$color-stroke-1: #EBEBF0;

// Device breakpoints
$breakpoint-tablet: 576px;
$breakpoint-desktop: 768px;
